<div class="h-[100vh] w-full flex items-center justify-center flex-col">
    <div
        [ngClass]="{'opacity-0': hidden}" 
        class="min-h-80 min-w-80 bg-gray-400 rounded-full transition-all ease-in-out duration-500 flex items-center justify-center flex-col text-3xl font-extralight">
        <h1 class="">Welcome to</h1>
        <h1 class="uppercase">Password Checker</h1>
    </div>
    <button 
        [ngClass]="{'opacity-0': hiddenButton}"
        class="bg-gray-400 rounded-md py-2 px-2 text-2xl mt-5 transition-all ease-in-out duration-500" 
        (click)="toMain()">Let`s start</button>
</div>